/****************************************************************************************************/

.loaderWrapper{ display:flex; flex-direction:column; justify-content:center; min-height:100vh; }

.loaderContainer{ display:flex; flex-direction:row; justify-content:center; }

.loaderBlock{ text-align:center; padding:20px; max-width:300px; width:calc(100% - 40px); }

.loaderSpinner{ width:100px; height:100px; animation:spin 2s linear infinite; }

.loaderMessage{ color:#FFFFFF; font-size:1em; font-style:italic; margin-top:10px; text-align:center; }

/****************************************************************************************************/

#wrapper{ min-height:100vh; display:flex; flex-direction:row; justify-content:center; }

/****************************************************************************************************/

.logsContainer{ display:flex; flex-direction:column; justify-content:flex-start; border-radius:2px; background-color:#FFFFFF; width:400px; height:576px; margin:20px 20px 20px 10px; }

.logsContainerTitle{ padding:10px 20px 10px 20px; font-size:1.2em; border-bottom:1px solid rgba(0,0,0,0.25); }

.logsContainerList{ flex-grow:2; margin:10px; padding:10px; border:1px solid rgba(0,0,0,0.25); border-radius:2px; overflow-y:scroll; }

.logsListElement{ font-size:0.9em; }

.logsListElement span{ font-weight:bold; }

.logsListElement span.pokemon, .logsListElement span.date{ color:#759EB8; }

.logsListElement span.attack{ color:#5CB85C; }

.logsListElement span.damages{ color:#D9534F; }

.logsListElement span.ko{ color:#D9534F; }

.logsContainerButtons{ flex-basis:1; }

/****************************************************************************************************/

.fightContainer{ border-radius:2px; width:768px; height:576px; overflow:hidden; box-sizing:border-box; margin:20px 10px 20px 20px; position:relative; }

.fightContainerBackground{ width:768px; height:576px; position:absolute; top:0; right:0; bottom:0; left:0; z-index:0; }

.fightInnerContainer{ height:100%; display:flex; flex-direction:column; justify-content:space-between; position:relative; z-index:10; }

.fightTopOpponent{ height:50%; display:flex; flex-direction:row; align-items:flex-start; justify-content:space-between; }

.fightBottomOpponent{ height:50%; display:flex; flex-direction:row; align-items:flex-end; justify-content:space-between; }

.fightOpponentInfo{ width:300px; background-color:#FFFFFF; border-radius:4px; padding:10px; margin:10px; }

.fightOpponentInfoName{ font-size:0.9em; margin-bottom:5px; }

.fightOpponentInfoHealth{ text-align:center; overflow:hidden; width:100%; background-color:rgba(0,0,0,0.2); position:relative; border-radius:4px; box-sizing:border-box; }

.fightOpponentInfoHealthFiller{ width:100%; position:absolute; top:0; bottom:0; left:0; background-color:#5CB85C; z-index:0; }

.fightOpponentInfoHealthStatus{ font-weight:bold; font-size:0.7em; padding:2px 0 2px 0; color:rgba(0,0,0,0.75); position:relative; z-index:10; }

.fightBottomOpponentGif{ margin-bottom:40px; margin-left:40px; }

.fightBottomOpponentGif img{ width:200px; }

.fightTopOpponentGif{ margin-top:240px; margin-right:100px; }

.fightTopOpponentGif img{ width:100px; }

/****************************************************************************************************/

.startButton{ padding:5px 15px 5px 15px; border:1px solid #759EB8; border-radius:4px; color:#759EB8; cursor:pointer; background-color:#FFFFFF; width:calc(100% - 20px); margin:10px; }

.startButton:hover{ color:#537C96; border:1px solid #537C96; }

.pauseButton{ padding:5px 15px 5px 15px; border:1px solid #D9534F; border-radius:4px; color:#D9534F; cursor:pointer; background-color:#FFFFFF; width:calc(100% - 20px); margin:10px; }

.pauseButton:hover{ color:#B7312D; border:1px solid #B7312D; }

.restartButton{ padding:5px 15px 5px 15px; border:1px solid #759EB8; border-radius:4px; color:#759EB8; cursor:pointer; background-color:#FFFFFF; width:calc(100% - 20px); margin:10px; }

.restartButton:hover{ color:#537C96; border:1px solid #537C96; }

.returnButton{ padding:5px 15px 5px 15px; border:1px solid #D9534F; border-radius:4px; color:#D9534F; cursor:pointer; background-color:#FFFFFF; width:calc(100% - 20px); margin:10px; }

.returnButton:hover{ color:#B7312D; border:1px solid #B7312D; }
