<img src="../../assets/images/poke-dribbble.png">
<h2>{{firstPokemon.name}} vs {{secondPokemon.name}}</h2>
<p>Fight in progress? {{fightInProgress ? "Yes" : "No"}}</p>
<button id="pauseBtn" (click)="pauseFight(fight)">Play/Pause</button>
<button (click)="restartFight()">Restart fight</button>
<div class="container">
  <div class="healthBarContainer">
    <div class="healthBar">
      <div class="healthBarName" style="text-align: left;">{{firstPokemon.name}}</div>

      <div class="healthBarBackground">
        <div class="healthBarStatus">{{firstPokemon.health}} / {{firstPokemon.maxHealth}} HP</div>
        <div class="healthBarFiller"></div>
      </div>
    </div>
    
    <div class="healthBar">
      <div class="healthBarName" style="text-align: right;">{{secondPokemon.name}}</div>

      <div class="healthBarBackground">
        <div class="healthBarStatus">{{secondPokemon.health}} / {{secondPokemon.maxHealth}} HP</div>
        <div class="healthBarFiller"></div>
      </div>
    </div>
  </div>
</div>
<h3>Fight logs</h3>
<div id="logs" *ngFor="let log of fightLogs">
  <p [innerHtml] ="log"></p>
</div>